<h1>Confirm your email here:</h1>

<form method="post" action={{url}}>
    <div>
        <label for="sbm">Confirm this email</label>
        <br>
        <input type="submit" name="sbm">
    </div>
</form>