<h1>Reset your password here:</h1>

<form method="post" action={{url}}>
    <div style="margin: 5px;">
        <label for="password1">New password</label>
        <input type="password" name="password1" required>
    </div>

    <div style="margin: 5px;">
        <label for="password2">Confirm password</label>
        <input type="password" name="password2" required>
    </div>

        <input type="submit">
</form>